.blog {
    padding: 50px 100px;
    background-color: #ffffffde;
    h1 {
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 50px;
        letter-spacing: 3px;
        word-spacing: 10px;
        color: #333;
        span {
            color: rgba(128, 0, 128, 0.884);
        }
    }
    .bloglist {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        gap: 30px;
        .blogcard {
            background-color: #fff;
            border-radius: 20px;
            box-shadow: 1px 1px 1px 1px #333333b2;
            .container {
                position: relative;
                height: 250px;
                border-radius: 20px;
                img {
                    width: 100%;
                    height: 250px;
                    border-radius: 20px;
                }
                span {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background-color: rgb(255, 199, 255);
                    padding: 8px 13px;
                    text-transform: capitalize;
                    border-bottom-right-radius: 20px;
                    font-size: 15px;
                }
            }
        }
        .block {
            padding: 20px 30px;
            h4 {
                letter-spacing: 3px;
                font-weight: 700;
                margin: 0;
                font-size: 18px;
                color: #222222;
            }
            p {
                color: #333;
                font-size: 15px;
                line-height: 22px;
            }
            .flex {
                display: flex;
                justify-content: space-between;
                color: rgba(207, 68, 207, 0.959);
                text-transform: capitalize;
                font-weight: 600;
                .row {
                    display: flex;
                    gap: 5px;
                }
            }
        }
    }
}
